<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title align-text-c">{{titulo}}</h5>
          <div class="form_bg">
            <form #regForm='ngForm' (ngSubmit)="onSubmit()">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email" name="email"
                       [(ngModel)]=usuario.email>
              </div>
              <div class="form-group" *ngIf="!isRecuperoCredenciales">
                <input type="number" class="form-control" placeholder="Password" name="password"
                       [(ngModel)]=usuario.password>
              </div>
              <button type="submit" class="btn btn-primary mr-1 w-100" id="accion">{{accion}}</button>

              <a *ngIf="!isRecuperoCredenciales" class="d-block align-text-c" routerLink='/credenciales'>Recuperar Credenciales</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
