<!--========================================-->
<!--BARRA PRODUCTOS-->
<!--========================================-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="false">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav1"
            aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav1">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink='/busqueda-producto'>Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink='/nuevo-producto'>
                Nuevo Producto<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink='/busqueda-producto'>Busqueda</a>
        </li>
      </ul>
    </div>
</nav>

<!--========================================-->
<!--BARRA INGRESO-->
<!--========================================-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="true">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav2"
          aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav2">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink='/login'>Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/registro'>
          Registro<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/credenciales'>Credenciales</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
