<div class="container" *ngIf="producto">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Detalles</h5>
          <ul *ngIf="producto">
            <li>Id: {{producto.id}}</li>
            <li>Nombre: {{producto.nombre}}</li>
            <li>Precio: {{producto.precio}}</li>
          </ul>
          <button class="btn btn-primary mr-1" [routerLink]="['/edit-producto', producto.id]">Editar</button>
        </div>
      </div>
    </div>
  </div>
</div>
